.card-offer-container {
    width: 100%;
    min-width: 300px;
    background-color: #ffffff56;
    border: 1px solid #939393df;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    overflow: hidden;

}

.img-offer-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transition: transform 0.5s, box-shadow 0.3s, color 0.3s;
    overflow: hidden;
}

.img-offer {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border-bottom: 1px solid rgba(138, 138, 138, 0.5);
    transition: transform 0.5s ease;
}


.card-offer-container:hover .img-offer {
    transform: scale(1.08);
}


.card-offer-container:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.304);
}

.row-header {
    position: relative;
    bottom: 15px;
}

.card-details-title {
    font-weight: lighter;
    font-size: 1.8rem;
}

.bookmark-icon {
    position: relative;
    font-size: 1.8rem;
    left: 20px;

}

.card-details-subtitle {
    position: relative;
    bottom: 5px;

}

.card-details-subtitle:hover {
    text-decoration: underline;
    color: rgb(88, 88, 250);
}

.card-details-description {
    width: fit-content;
    height: 80px;
    color: #4f4f4f;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}


.details-list {
    font-size: 0.7rem;
    border: 1px solid #939393df;
    border-radius: 10px;
    padding: 0.2rem;
}

.details-list-item:hover {
    text-decoration: underline;
    color: rgb(88, 88, 250);
}

.btn-view-offer {
    background-color: #004875;
    color: white;

}

.btn-view-offer:hover {
    background-color: #00487556;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(40, 40, 40, 0.562);

}

.btn-applied {
    background-color: #004875;
    color: white;
}


.btn-applied:hover {
    background-color: #00487556;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(40, 40, 40, 0.562);
}


.btn-unapplied {
    background-color: rgb(160, 0, 0);
    color: white;

}

.btn-unapplied:hover {
    background-color: rgb(194, 91, 91);
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(40, 40, 40, 0.562);
}

.btn-view-offer,
.btn-saved,
.btn-unsaved,
.btn-apply,
.btn-applied,
.btn-unapplied {
    border: gray 1px solid;
    font-size: 0.6rem;
    border-radius: 25px;
}