.card-offer-container {
    position: relative;
    max-width: 750px;
    height: 200px;
    background-color: rgba(187, 187, 187, 0.138);
    border: 1px solid #939393;
    border-radius: 5px;
    backdrop-filter: blur(10px);

}

.card-details-img-container {
    object-fit: cover;
}

.card-details-header .details-title {
    color: rgb(61, 61, 61);
    font-weight: 350;
    line-height: 1;
}

.card-details-header .details-location {
    font-size: 0.9rem;
}

.details-description {
    color: #4f4f4f;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}