.card-offer-container {
    position: relative;
    max-width: 60%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #9393939e;
    border-radius: 5px;
    backdrop-filter: blur(10px);

}

.img-offer {
    width: 180px;
    height: 200px;
}


.card-details-description {
    color: #4f4f4f;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}


.details-list {
    width: 50%;
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
}

.details-list-item {
    padding: 5px;
    border: 1px solid gray;
    font-size: 0.6rem;
    border-radius: 35%;
}

.card-offer-actions {
    position: absolute;
    bottom: 10px;
    right: 15px;

}

.btn-offer {
    border: 1px solid;
    font-size: 0.6rem;
    border-radius: 25px;
}