/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9uZG8lMjBhenVsfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.svg-load-icon {
    width: 50px;
    height: 50px;
}

.svg-box {
    display: flex;
    justify-content: center;
}