.login-view-container { 
    height: 81vh;
}

.btn-login {
    width: 14rem;
    background-color: #7ea5d9ab;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 50px;
    transition: transform 0.6s, box-shadow 0.3s, color 0.6s;
}

.btn-login:hover {
    color: white;
    box-shadow: 0px 4px 8px rgba(179, 179, 179, 0.612);
}
