.custom-navbar {
    background-color: #002841;
    box-shadow: 1px 13px 41px 0px #454444;
    height: 90px;
    font-size: 0.9rem;
}

.offcanvas,
.offcanvas-header {
    background-color: #002237e2;
}

.navbar-nav-text li a {
    color: rgb(255, 255, 255);
}

.navbar-nav-text li a:hover {
    color: rgb(128, 191, 250);
}

.navbar-nav-text li:last-child svg {
    color: white;

}

.icon-person {
    font-size: 2rem;
}

.navbar-nav-text li:last-child svg:hover {
    color: rgb(107, 177, 252);
}

.dropdown-menu {
    margin-right: 50px;
    color: white;
    background-color: rgb(107, 177, 252);
    border: none;
}

.dropdown-item {
    color: #ffffff;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}


.dropdown-item svg {
    margin-right: 10px;
    margin-bottom: 3px;
}

.navbar-toggler {
    color: white;
    border: 1px solid white;
}

.navbar-toggler-icon {
    color: aliceblue;
}