.card-singup {
    width: 100%;
    max-width: 35rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(179, 179, 179, 0.612);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: rgb(64, 87, 106);
}